{
  "env": {
    "browser": false,
    "es6": true
  },
  "extends": "prettier",
  "globals": {
    "require": false,
    "module": false,
    "exports": false
  },
  "rules": {
    "prettier/prettier": "error",
    "lines-around-comment": [
      "error",
      {
        "beforeBlockComment": true,
        "afterBlockComment": true,
        "beforeLineComment": true,
        "afterLineComment": true,
        "allowBlockStart": true,
        "allowBlockEnd": true,
        "allowObjectStart": true,
        "allowObjectEnd": true,
        "allowArrayStart": true,
        "allowArrayEnd": true
      }
    ],
    "no-var": "error",
    "no-undef": "error"
  }
}
